nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 13px;
}

ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.footer {
  padding-top: 28px;
  margin-top: 23px;
  border-color: #173044;
  border-width: 1px 0px 0px 0px;
  border-style: solid;
}

.menu:not(:first-child) {
  margin-left: 51px;
}

.icons:not(:first-child) {
  margin-left: 23px;
}

.operations {
  margin-right: 66px;
  margin-left: 66px;
}

a,
li {
  color: #bccadc;
}

.footer_right {
  /* test align works only with text elements (img and a elements are includes --> so here we can align our text and image both to the right of the screen) */
  text-align: right;
}

.icons:hover {
  cursor: pointer;
  color: #3433e8;
}

a:hover {
  color: #3433e8;
}

a {
  text-decoration: none;
}