body {
  margin: 0 auto;
  max-width: 1248px;
  width: 100%;
  padding: 18px 52px;
  background-color: #020f18;
  font-family: "Inter", sans-serif;
  color: #f6f7fc;
}

main {
  display: grid;
  justify-content: center;
}

.about {
  margin: 32px 0;
  padding: 32px 24px;
  background-color: #041522;
  border: 1px solid #26425a;
  border-radius: 8px;
  max-width: 43.75rem;
  text-align: center;
}

.about h1 {
  margin: 0 0 16px;
  font-size: 40px;
  line-height: 1.2;
}

.about p {
  margin: 0;
  color: #bccadc;
  font-size: 18px;
  line-height: 1.7;
}

.material-symbols-outlined {
  font-size: 28px;
  line-height: 1;
  color: #bccadc;
}

.material-symbols-outlined:hover {
  cursor: pointer;
  color: white;
}

.controller {
  font-size: 48px;
  color: #bccadc;
  display: inline-block;
  animation: spin 2s linear infinite;
  margin-top: 15px;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}